body {
  background: radial-gradient(lightpink, white);
}

body {
  font-size: 25px;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
}


.my-info {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  margin: auto;
  width: 30%;
  padding: 10px;
}